body{
    background: rgb(255, 246, 233);
    margin-top: 0;
}
#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
}
#nav1{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}
#nav2{
    display: flex;
    justify-content: center;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0;   
    margin-bottom: 0;
}
#nav1 img{
    width: 30px;
    margin-bottom: 0;
    margin: 0 30px;
}
#nav1 a,#nav2 a{
    text-decoration: none;
    border-bottom: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#nav1 li{
    margin-top: 0;
    font-size: 14px;
}
#nav1 img{
    transition: all 0.3s;
}
#nav1 img:hover{
    width: 33px;
    transform: translateY(-3px);
}
#nav2 li{
    margin-right: 10px;
    transition: all 0.3s;
/*     
    border-right: 1px solid black; */
}
#nav2 li a{
    transition: all 0.3s;
}
#nav2 li:hover{
    transform: translateY(-3px);
    color: rgb(118, 179, 27);
}
#nav2 a:hover{
    color: rgb(118, 179, 27);
}
header{
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
}
#cosmetics{
    font-size: 13px;
    margin-top: 0;
}
.material-symbols-outlined{
    width: 100%;
}
.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: rgb(250, 235, 213);
    transition: background 0.25s;
    transition: box-shadow 0.25s;

}
.search:focus-within{
    background: rgb(255, 240, 218);
    box-shadow: 0 0 2px rgb(0,0,0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin: 0 14px;
    font-family: 'Lexend', sans-serif;
    outline: none;
    border: none;
    background: transparent;
}
.search-input::placeholder,
.search-icon{
    color: rgb(0,0,0,0.25);
}
@keyframes slideInLeft{
    from{
        transform: translateX(-700px);
        /* transform: translateY(-300px); */
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideInRight{
    from{
        transform: translateX(700px);
    }
    to{
        transform: translateX(0);
    }
}
#zdjecia{
    display: grid;
    grid-template: 50% 40% / 40% 22% 30%;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 500px;
}
#zdjecia img{
    width: 100%;
    height: 100%;
}
#baner1{
    grid-column: 1 / 3;
    background: url("zdjecia/tlo123.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: slideInLeft 1.3s cubic-bezier(0.19,1,0.22,1);
/* }cubic-bezier(0.19,1,0.22,1) */
/* cubic-bezier(.26,1.02,1,-0.62) */
}
#baner3{
    grid-area: 1 / 3 / 3;
    text-align: center;
    animation: slideInRight 1.3s cubic-bezier(0.19,1,0.22,1);
}
#baner2{
    grid-area: 2 / 1;
    animation: slideInLeft 1s cubic-bezier(0.19,1,0.22,1);
}
#baner4{
    grid-area: 2 / 2;
    animation: slideInRight 1s cubic-bezier(0.19,1,0.22,1);
}
#baner1 a{
    text-decoration: none;
    border-bottom: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    transition: all 0.3s;
}
#baner1 a:hover{
    font-size: 21px;
    transform: translateY(-10px);
    color: rgb(190, 248, 103);
}
#bs{
    font-size: 10px;
}
footer{
    background-color: rgb(16, 19, 14);
    text-align: center;
    padding: 10px;
    color: white;
}
#opis{
    text-align: center;
    color: white;
    background-color: rgb(39, 39, 39);
    border-top: 3px solid rgb(196, 255, 108);
    border-bottom: 3px solid rgb(196, 255, 108);
    padding: 30px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    margin-top: 10px;
}
.dolacz{
    border: 4px solid rgb(142, 185, 77);
    background-color: rgb(241, 255, 221);
    padding: 12px;
    margin: 32px 50px;
    width: 20%;
    font-size: 19px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(142, 185, 77);
    font-weight: bold;
    transition: all 0.3s;
}
/* rgb(158, 206, 85); */
.dolacz:hover{
    transform: translateY(-10px);
    background-color: rgb(142, 185, 77);
    color: white;
    cursor: pointer;
}