#return {
  background-color: transparent;
  border: none;
  width: 27px;
  display: flex;
  justify-content: center;
  margin: 15px 15px;
}
#return:hover {
  cursor: pointer;
}
#return img {
  width: 30px;
  transition: all 0.5s;
}
#return img:hover {
  width: 35px;
  transform: translateY(-5px);
}
#koszyk:hover {
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
}
.product-image img {
  height: 160px;
  width: 100px;
}
.tresc .przycisk {
  width: 100px;
  font-weight: bold;
}
#lista {
  background-color: white;
  width: 1000px;
  -webkit-box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  -moz-box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  border-radius: 10px;
  display: grid;
  background-color: #f9f9fb;
  grid-template-columns: 60% 30%;
  gap: 10px;
  margin: 0;
  padding: 20px;
  padding-right: 0;
}
#podsumowanie {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid rgb(221, 221, 221);
  font-size: 17px;
  border-radius: 15px;
  padding: 0 20px;
  margin-top: 150px;
  height: 350px;
  width: 100%;
}
#podsumowanie .przycisk {
  width: 200px;
}
#przedmioty {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
#dane {
  margin-bottom: 0;
  padding: 20px;
}
span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
h4 {
  font-size: 20px;
}
#podsumowanie div {
  font-weight: bold;
}
#kreska {
  border-bottom: 3px solid rgb(131, 189, 45);
  width: 70%;
  padding-top: 10px;
  margin-bottom: 15px;
  align-self: center;
}
h3 {
  font-size: 25px;
}
#lista ul li {
  background-color: white;
  border: 2px solid rgb(221, 221, 221);
  list-style-type: none;
  border-radius: 15px;
}
#lista ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.products {
  visibility: hidden;
}
.search {
  visibility: hidden;
}
.koszyk-produkty {
  width: 80%;
  overflow: auto;
  max-height: 500px;
  min-height: 200px;
  border-radius: 15px;
}
#dane label {
  font-size: 18px;
  color: black;
}
.kodPocztowy,
.miasto,
.adres,
.dostawa,
.email {
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(187, 187, 187);
  transition: all 0.25s;
  outline: none;
  background: transparent;
  margin: 10px 0;
  width: 250px;
}
.kodPocztowy:focus-within,
.miasto:focus-within,
.adres:focus-within,
.dostawa:focus-within,
.email:focus-within {
  background-color: #f9f9fb;
  box-shadow: 0 0 5px rgb(142, 185, 77);
}
#zamow {
  width: 250px;
  margin: 20px 0;
  font-size: 17px;
}
@media (max-width: 624px) {
  #lista {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  #podsumowanie {
    width: 80%;
  }
  #dane {
    padding: 0 -20px;
  }
}
@media (min-width: 625px) and (max-width: 1024px) {
  #lista {
    width: 90%;
  }
}
