#return {
  background-color: transparent;
  border: none;
  width: 27px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
#return:hover {
  cursor: pointer;
}
#return img {
  width: 30px;
  transition: all 0.5s;
}
#return img:hover {
  width: 35px;
  transform: translateY(-5px);
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
form {
  background-color: white;
  width: 400px;
  -webkit-box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  -moz-box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  box-shadow: 10px 10px 52px 0px rgba(64, 64, 64, 1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(142, 185, 77);
}
form label {
  font-size: 16px;
  color: black;
}
input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(187, 187, 187);
  transition: all 0.25s;
  outline: none;
  background: transparent;
}
input:focus-within {
  background-color: #f9f9fb;
  box-shadow: 0 0 5px rgb(142, 185, 77);
}
body {
  background-color: #f9f9fb;
}
h3 {
  font-size: 33px;
}
#tekst {
  font-size: 18px;
}
#okno {
  padding: 20px;
  border-radius: 10px;
  border-style: dashed;
}
#oknoClose {
  text-align: center;
  width: 80px;
}
#przycisk {
  display: flex;
  justify-content: center;
}
@media (max-width: 624px) {
  #zalozKonto {
    width: 200px;
  }
}
@media (min-width: 625px) and (max-width: 1024px) {
  #zalozKonto {
    width: 300px;
  }
}
