body {
  background: #fff6e9;
  margin-top: 0;
  height: 100%;
  min-height: 100vh;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
}
#nav1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}
.menu-toggle {
  margin-right: auto;
}
#nav2 {
  display: flex;
  justify-content: center;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  padding-right: 0;
  padding-left: 0;
}
#nav1 img,
#avatar {
  width: 30px;
  margin-bottom: 0;
  margin: 0 30px;
}
.close {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgb(66, 66, 66);
  align-self: flex-end;
}
.close:hover {
  cursor: pointer;
}
.close img {
  width: 10px;
}
#nav1 a,
#nav2 a,
#avatar {
  text-decoration: none;
  border-bottom: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}
#avatar {
  background-color: transparent;
  border: none;
}
#avatar:hover,
#koszyk:hover {
  cursor: pointer;
}
#nav1 li {
  margin-top: 0;
  font-size: 14px;
}
#nav1 img {
  transition: all 0.3s;
}
#nav1 img:hover {
  width: 33px;
  transform: translateY(-3px);
}
#nav2 li {
  margin-right: 10px;
  transition: all 0.3s;
}
#nav2 li a {
  transition: all 0.3s;
}
#nav2 li:hover {
  transform: translateY(-3px);
  color: rgb(118, 179, 27);
}
#nav2 a:hover {
  color: rgb(118, 179, 27);
}
#nav2 ul li,
.tresc ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  color: black;
  transition: 0.3s;
}
#nav2 ul li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(118, 179, 27);
  transition: 0.3s;
}
#nav2 ul li:hover::before {
  width: 100%;
}
#nav2 li:hover ul {
  display: block;
  position: absolute;
  background-color: rgb(255, 246, 233);
  border: 2px solid #76b31b;
  border-radius: 20px;
  margin: 2% 0;
  padding: 10px 10px;
  width: 200px;
  z-index: 1000;
}
header {
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
}
#cosmetics {
  font-size: 13px;
  margin-top: 0;
}
.material-symbols-outlined {
  width: 100%;
}
.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: rgb(250, 235, 213);
  transition: background 0.25s;
  transition: box-shadow 0.25s;
}
.search:focus-within {
  background: rgb(255, 240, 218);
  box-shadow: 0 0 2px rgb(0, 0, 0, 0.75);
}
.search-input {
  font-size: 16px;
  color: #333333;
  margin: 0 14px;
  font-family: "Lexend", sans-serif;
  outline: none;
  border: none;
  background: transparent;
}
.search-input::placeholder,
.search-icon {
  color: rgb(0, 0, 0, 0.25);
}
@keyframes slideInLeft {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0);
  }
}
#zdjecia {
  display: grid;
  grid-template: 50% 40% / 40% 22% 30%;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 500px;
}
#zdjecia img {
  width: 100%;
  height: 100%;
}
#baner1 {
  grid-column: 1 / 3;
  background: url("/zdjecia/tlo123.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: slideInLeft 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#baner3 {
  grid-area: 1 / 3 / 3;
  text-align: center;
  animation: slideInRight 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#baner2 {
  grid-area: 2 / 1;
  animation: slideInLeft 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
#baner4 {
  grid-area: 2 / 2;
  animation: slideInRight 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  background: url("/zdjecia/tlo5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#baner1 a {
  text-decoration: none;
  border-bottom: none;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  transition: all 0.3s;
}
#baner1 a:hover {
  font-size: 21px;
  transform: translateY(-10px);
  color: rgb(190, 248, 103);
}
#bs {
  font-size: 10px;
}
footer {
  background-color: rgb(16, 19, 14);
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 10px;
}
#opis {
  text-align: center;
  color: white;
  background-color: rgb(39, 39, 39);
  border-top: 3px solid rgb(196, 255, 108);
  border-bottom: 3px solid rgb(196, 255, 108);
  padding: 30px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2 {
  margin-top: 10px;
}
.dolacz {
  border: 4px solid rgb(142, 185, 77);
  background-color: rgb(241, 255, 221);
  padding: 12px;
  margin: 32px 50px;
  width: 20%;
  font-size: 19px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(142, 185, 77);
  font-weight: bold;
  transition: all 0.3s;
}
.dolacz:hover {
  transform: translateY(-10px);
  background-color: rgb(142, 185, 77);
  color: white;
  cursor: pointer;
}
.user {
  width: 700px;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  display: flex;
  border-radius: 20px;
  border-bottom: 5px dashed black;
  border-right: 5px dashed black;
  visibility: hidden;
  transition-duration: 0.1s;
  transition: transform 0.4s, top 0.4s;
  -webkit-box-shadow: 0px 0px 250px 300px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 250px 300px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 250px 300px rgba(0, 0, 0, 0.68);
  z-index: 1000;
}
.open-user {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.logowanie {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 30px;
}
.rejestracja {
  width: 45%;
  background-color: #f9f9fb;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.przycisk {
  align-self: center;
  background-color: rgb(234, 255, 204);
  border: 2px solid rgb(127, 165, 69);
  color: rgb(127, 165, 69);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: all 0.3s;
}
.przycisk:hover {
  background-color: rgb(127, 165, 69);
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
}
#przypomnienie {
  align-self: center;
  font-size: 10px;
  color: black;
}
#zgoda,
.zgoda {
  font-size: 14px;
  color: rgb(101, 133, 53);
}
h3 {
  font-size: 28px;
}
#box {
  margin-left: 0;
}
.user input {
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(187, 187, 187);
  transition: all 0.25s;
  outline: none;
  background: transparent;
}
.user input:focus-within {
  background-color: #f9f9fb;
  box-shadow: 0 0 5px rgb(142, 185, 77);
}
#zapamietaj {
  font-size: 14px;
}
#check,
#check1 {
  display: flex;
  align-items: center;
}
input[type="checkbox"]:focus-within {
  background-color: transparent;
  box-shadow: none;
}
#character {
  text-decoration: none;
  width: 80px;
  height: 110px;
  background: url("/zdjecia/c1.png");
  background-size: 100% 100%;
  animation: change 9s infinite;
  align-self: flex-end;
}
#dymek {
  height: 50px;
  width: 150px;
  align-self: center;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  background-color: white;
  border-radius: 20px;
  border: 4px dashed rgb(142, 185, 77);
  visibility: hidden;
}
#tlo {
  z-index: 1000;
}
#baner1:hover {
  cursor: pointer;
}
#character:hover {
  cursor: pointer;
}
#tlo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: -300px;
  height: 200px;
  width: 160px;
  animation: slideInTop 1.3s cubic-bezier(0.19, 1, 0.22, 1) 2.5s 1,
    bounce 2s linear 2.5s infinite;
}
@keyframes bounce {
  0% {
    bottom: 10px;
  }
  25% {
    bottom: 12px;
  }
  50% {
    bottom: 20px;
  }
  75% {
    bottom: 17px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes slideInTop {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes change {
  0% {
    background: url("/zdjecia/c1.png");
    background-size: 100% 100%;
  }
  12.5% {
    background: url("/zdjecia/c2.png");
    background-size: 100% 100%;
  }
  25% {
    background: url("/zdjecia/c3.png");
    background-size: 100% 100%;
  }
  37.5% {
    background: url("/zdjecia/c4.png");
    background-size: 100% 100%;
  }
  50% {
    background: url("/zdjecia/c10.png");
    background-size: 100% 100%;
  }
  62.5% {
    background: url("/zdjecia/c3.png");
    background-size: 100% 100%;
  }
  75% {
    background: url("/zdjecia/c4.png");
    background-size: 100% 100%;
  }
  87.5% {
    background: url("/zdjecia/c5.png");
    background-size: 100% 100%;
  }
  100% {
    background: url("/zdjecia/c6.png");
    background-size: 100% 100%;
  }
}
#logo header,
#cosmetics :hover {
  cursor: pointer;
}
.search-icon.material-symbols-outlined {
  cursor: pointer;
  transition: font-size 0.25s;
}
.search-icon.material-symbols-outlined:hover {
  font-size: 165%;
}
.products {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 33% 33% 33%;
}

.product-container {
  padding: 3px 15px;
  margin: 3px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  justify-content: center;
}
.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-name {
  margin: 0;
  padding: 0;
}
.product-image img {
  width: 130px;
  padding: 10px;
  transition: transform 1s ease;
}
.product-image img:hover {
  transform: scale(1.1);
}
.product-stars {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 3px 0;
  width: 100%;
}
.product-stars img {
  width: 100px;
}
.id {
  font-size: 9px;
  color: #858585;
}
.product-price {
  font-size: 23px;
  width: 100%;
  padding: 2px 0;
  font-weight: bold;
  text-align: center;
}
.product-container .przycisk {
  width: 200px;
  height: 45px;
  font-size: 12px;
  border-radius: 60px;
  margin: 10px 0;
}
.wyniki-wyszukiwania {
  width: 100%;
  font-size: 20px;
  padding: 20px 10px;
  padding-top: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
#tekstLog {
  font-size: 18px;
}
#oknoLog {
  padding: 20px;
  border-radius: 10px;
  border-style: dashed;
}
#oknoCloseLog {
  text-align: center;
  width: 80px;
}
#przycisk,
#przycisk2 {
  display: flex;
  justify-content: center;
}
.user {
  position: fixed;
}
#nav2 li ul {
  display: none;
  position: absolute;
}
#baner1,
#baner2,
#baner3,
#baner4 {
  position: relative;
  z-index: 1;
}
#tekstDodano {
  font-size: 15px;
  text-align: center;
}
#tekstDodano1 {
  font-size: 18px;
  text-align: center;
}
#oknoDodano .przycisk {
  font-size: 10px;
  width: 100px;
  margin: 5px;
}
#oknoDodano {
  width: 300px;
}

.menu-toggle {
  display: block;
  position: fixed;
  left: 30px;
  top: 105px;
  z-index: 1000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.072);
  backdrop-filter: blur(20px);
  padding: 5px;
  border-radius: 10px;
}

.dot {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.454);
  backdrop-filter: blur(10px);
  box-shadow: 10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 150px 10px;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
}
.sidebar a {
  text-decoration: none;
  color: black;
  padding: 0 30px;
  width: 100%;
  transition: all 0.5s;
}
.sidebar a:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 23px;
}
.sidebar li {
  width: 100%;
  padding: 10px 0;
}
.sidebar ul {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}
.sidebar ul li {
  padding: 3px 5px;
  font-size: 15px;
}
.sidebar ul.open {
  display: flex;
  max-height: 500px;
}

.sidebar ul.close {
  max-height: 0;
}
@media (max-width: 890px) {
  #nav2 {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
@media (min-width: 891px) {
  #nav2 {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 624px) {
  #opis {
    font-size: 13px;
  }
  .dolacz {
    font-size: 13px;
  }
  .products {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 90%;
  }
  .user {
    width: 400px;
  }
}
@media (min-width: 625px) and (max-width: 1024px) {
  #opis {
    font-size: 16px;
  }
  .dolacz {
    font-size: 16px;
  }
  .products {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 48% 48%;
  }
  .user {
    width: 600px;
  }
}
